*.aux
*.log
*.pyc
db.sqlite3
README.html
envs/edurepo/
src/edurepo/.idea/workspace.xml
src/edurepo/teachers/migrations/
src/webapp/css/bootstrap*.css
src/webapp/lib/angular
src/webapp/lib/jquery
src/edurepo/dev_settings.cfg
src/edurepo/settings.cfg
src/edurepo/.coverage
src/edurepo/htmlcov/
src/edurepo/.idea/dictionaries/
src/webapp/.idea/
src/edurepo/.idea/dataSources.ids
src/edurepo/.idea/dataSources.xml
