<html ng-app="edjectiveApp">
<head>
  <meta charset="utf-8">
  <title>Edjective</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

  <div ng-controller="GetTeacherEmailCtrl">
    Teacher e-mail address: <input type="text" ng-model="teacherEmail" />
    <button ng-click="update(teacherEmail)">Update</button>
  </div>

  <br />

  <div ng-controller="LookupCtrl">
      <p>{{notice.text}}</p>
      <ul>
        <li ng-repeat="class in classes">
          <input type="checkbox" ng-change="classSelection(class)" ng-model="class.isSelected">{{class.name}} ({{class.course_id}})
        </li>
      </ul>

    <ul>
      <li ng-repeat="class in objectives.data">
        {{class.text}}
        <ul>
          <li ng-repeat="obj in class.objectives">
            {{obj.date}} {{obj.objective}}
          </li>
        </ul>
      </li>
  </div>

</body>
</html>
