{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}XXX{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        {% bootstrap_css %}
        {% bootstrap_javascript True %}
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default" data-role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'top.index' %}">Home</a></li>
                    <li><a href="{% url 'repo.index' %}">Course and objective definitions</a></li>
                    <li><a href="{% url 'resources.index' %}">Web resources</a></li>
                    <li><a href="{% url 'teachers.index' %}">Teachers and classes</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'social:begin' 'google' %}?next={% url 'top.index' %}">Login with a Google account</a></li>
                    {% endif %}
                    {% if user %}
                    {% if backends.associated %}
                    {% for assoc in backends.associated %}
                    <li><a href="{% url 'logout' %}?next={% url 'top.index' %}">Logout <strong>{{ user.username}}</strong> via <strong>{{ assoc.provider }}</strong></a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="{% url 'logout' %}?next={% url 'top.index' %}">Logout <strong>{{ user.username}}</strong></a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
