{% extends "base.html" %}
{% block title %}Edjective.org reference views{% endblock %}
{% block content %}
    <h1>Edjective.org reference views</h1>
    <ul>
        <li><a href="repo/">Repository data</a>
            <br />
            <em>Course definitions and educational materials</em>
        </li>
        <li><a href="resources/">External resources for learning objectives</a>
            <br />
            <em>Resources on other web sites which are related to a learning objective</em>
        </li>
        <li><a href="teachers/">Teachers</a>
            <br />
            <em>Teachers who are using this system to keep a calendar of learning objectives</em>
        </li>
    </ul>

    <div class="text-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
{% endblock %}
