{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edjective.org reference views</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% url 'index' as root_url %}
    {% if not user.is_authenticated %}
    <p><a href="login/google/?next={{ root_url }}">Login with a Google account</a></p>
    {% endif %}
    {% if user %}
    {% for assoc in backends.associated %}
    <p>You are logged in as <strong>{{ user.username}}</strong> via <strong>{{ assoc.provider }}</strong>.
        (<a href="logout/?next={{ root_url }}">Logout</a>)</p>
    {% endfor %}
    {% endif %}

    <h1>Edjective.org reference views</h1>

    <ul>
        <li><a href="repo/">Repository data</a>
            <br />
            <em>Course definitions and educational materials</em>
        </li>
        <li><a href="resources/">External resources for learning objectives</a>
            <br />
            <em>Resources on other web sites which are related to a learning objective</em>
        </li>
        <li><a href="teachers/">Teachers</a>
            <br />
            <em>Teachers who are using this system to keep a calendar of learning objectives</em>
        </li>
    </ul>

    <div class="ui-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
</body>
</html>
