<!DOCTYPE html>
<html>
<head>
    <title>Objective listing for course {{ course_id }}</title>
</head>
<body>
{% if objective_list %}
    <h1>List of objectives for course {{ course_id }}</h1>
    <table border="1">
        <tr><th>Objective id</th><th>Objective description</th><th>Language</th></tr>
{% for lo in objective_list %}
        <tr><td><a href="{{ lo.id }}/">{{ lo.id }}</a></td><td>{{ lo.formal_description }}</td><td>{{ lo.language }}</td></tr>
{% endfor %}
    </table>
{% else %}
    <p>No objectives are defined for course {{ course_id }}!</p>
{% endif %}
</body>
</html>
