<!DOCTYPE html>
<html>
<head>
    <title>Course listing</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
{% if course_list %}
    <h1>List of courses</h1>
    <table border="1">
        <tr><th>Course id</th><th>Course description</th><th>Language</th></tr>
{% for c in course_list %}
        <tr><td><a href="{{ c.id }}/">{{ c.id }}</a></td><td>{{ c.description }}</td><td>{{ c.language }}</td></tr>
{% endfor %}
    </table>
{% else %}
    <p>No courses are defined!</p>
{% endif %}

    <div class="ui-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
</body>
</html>
