<div class="browse-page" data-ng-controller="BrowseObjectiveCtrl">

    <div data-ng-show="objective">
    <span class="objective-list-entry-id">{{objective.id}}</span>
    <span class="objective-list-entry-description">{{objective.description}}</span>
    </div>

    <br />
    <div data-ng-hide="resources">
        <h2>No educational resources have been submitted.</h2>
    </div>
    <div data-ng-show="resources">
        <h2>Learning resources for this objective:</h2>
        <ul>
            <li data-ng-repeat="resource in resources">
                <a href="{{resource.url}}">
                    {{resource.url}}
                </a>
                <div data-ng-show="resource.votes">
                    {{resource.votes}} votes
                </div>
                <div data-ng-show="resource.inappropriate_flags">
                    Tagged as inappropriate {{resource.inappropriate_flags}} times
                </div>
            </li>
        </ul>
    </div>

    <br />
    <input type="button" value="Add a resource..." data-ng-click="submitResource(objective.id)">

</div>
