<div class="browse-page" data-ng-controller="BrowseCtrl">

    <div data-ng-show="serverUnreachable">
        <p>{{serverUnreachable}}</p>
    </div>
    <div data-ng-hide="serverUnreachable">
    <p>Select course category:</p>

    <form>
        <select data-ng-model="selectedCategory"
                data-ng-options="category as category.description for category in categories"
                data-ng-click="updateSelectedCategory()">
        </select>
    </form>

    <p data-ng-hide="courses"><em>This course category does not contain any courses.</em></p>
    <span data-ng-show="courses">
    <p>Select course:</p>

    <form>
        <select data-ng-model="selectedCourse"
                data-ng-options="course as course.description for course in courses"
                data-ng-click="updateSelectedCourse()">
        </select>
    </form>
    </span>

    <span data-ng-show="objectives">
    <ul class="objective-list">
        <li data-ng-repeat="objective in objectives">
            <a href="#/browse/{{objective.id}}">
            <span class="objective-list-entry-id">{{objective.id}}</span>
            </a>
            <span class="objective-list-entry-description">{{objective.description}}</span>
        </li>
    </ul>
    </span>
    </div>
</div>
