<div class="browse-page" data-ng-controller="BrowseObjectiveCtrl">

    <div data-ng-show="objective">
        <span data-ng-show="previous_objective">
        <a href="#/browse/{{previous_objective.id}}">
            <span class="previous-next-objective">previous</span>
        </a>
        </span>
        <span class="objective-list-entry-id">{{objective.id}}</span>
        <span data-ng-show="next_objective">
        <a href="#/browse/{{next_objective.id}}">
            <span class="previous-next-objective">next</span>
        </a>
        </span>
        <span class="objective-list-entry-description">{{objective.description}}</span>
    </div>

    <br />
    <div data-ng-hide="resources">
        <h2>No educational resources have been submitted.</h2>
    </div>
    <div data-ng-show="resources">
        <h2>Learning resources for this objective:</h2>
        <ul>
            <li data-ng-repeat="resource in resources">

                <span data-ng-show="resource.embed">
                <div ng-bind-html="toTrusted(resource.embed)"></div>
                </span>

                <a href="{{resource.url}}">
                    <span data-ng-show="resource.title">{{resource.title}}</span>
                    <span data-ng-hide="resource.title">{{resource.url}}</span>
                </a>
                <div data-ng-show="resource.warning">
                    <p class="edjective-warning">
                    Warning: {{resource.warning}}
                    </p>
                </div>
                <div data-ng-show="resource.notes">
                    ({{resource.notes}})
                </div>
                <div data-ng-show="resource.votes">
                    {{resource.votes}} votes
                </div>
                <div data-ng-show="resource.inappropriate_flags">
                    Flagged as inappropriate {{resource.inappropriate_flags}} times
                </div>
                <div>
                <input type="button" value="Up-vote or flag resource..."
                       data-ng-click="commentOnResource(resource.id)">
                </div>
            </li>
        </ul>
    </div>

    <br />
    <input type="button" value="Add a resource..." data-ng-click="submitResource(objective.id)">

</div>
