<!-- currentObjectives -->
<h2>Parents,</h2>

<p>Here's a simple demonstration of access to multiple types
of materials when teachers maintain a calendar of learning objectives
(i.e., indicate what objectives they are currently covering).</p>

<p>For the demonstration, enter <strong>ms.teacher@example.edu</strong>
as the teacher e-mail address, then press Lookup, then select one
of the classes which appears.</p>

<p>(In the real version you won't have to reenter any information;
opening a web page or an app on your smartphone will retrieve current
class activity for your children automatically.)</p>

  <div data-ng-controller="GetTeacherEmailCtrl" class="emailInput">
    Teacher e-mail address: <input type="text"
                                   data-ng-model="teacherEmail" />
    <button data-ng-click="update(teacherEmail)">Lookup</button>
  </div>

  <br />

  <div data-ng-controller="ParentsCtrl">
    <div class="classDisplay">
      <p>{{notice.text}}</p>
      <ul>
        <li data-ng-repeat="class in classes">
          <input type="checkbox" data-ng-change="classSelection(class)" data-ng-model="class.isSelected">{{class.name}} ({{class.course_id}})
        </li>
      </ul>
    </div>

    <div class="objectiveDisplay">
    <ul>
      <li data-ng-repeat="class in objectives.data">
        {{class.text}}
        <ul>
          <li data-ng-repeat="obj in class.objectives">
            {{obj.date}}
            <learning-objective data-learning-objective="{{ obj.objective }}"
                                data-teacher-comments="{{ obj.comments }}">
            </learning-objective>
          </li>
        </ul>
      </li>
    </ul>
    </div>

    <div class="ui-warning">
        <p>Important: This is just a demo of basic capabilities.  It is
        not intended to show the user interface for the planned end-user
        software.</p>
    </div>
  </div>
