<!-- currentObjectives -->
<h2>Parents,</h2>

<p>Here's a simple demonstration of access to multiple types
of materials when teachers maintain a calendar of learning objectives
(i.e., indicate what objectives they are currently covering).</p>

<p>For the demonstration, enter <strong>ms.teacher@example.edu</strong>
as the teacher e-mail address, then press Lookup, then select one
of the classes which appears.</p>

<p>(In the real version you won't have to reenter any information;
opening a web page or an app on your smartphone will retrieve current
class activity for your children automatically.)</p>

  <div data-ng-controller="GetTeacherEmailCtrl" class="emailInput">
    Teacher e-mail address: <input type="text"
                                   data-ng-model="teacherEmail" />
    <button data-ng-click="update(teacherEmail)">Lookup</button>
  </div>

  <br />

  <div data-ng-controller="ParentsCtrl">
    <div class="classDisplay">
      <p>{{notice.text}}</p>
      <ul>
        <li data-ng-repeat="class in classes">
          <input type="checkbox" data-ng-change="classSelection(class)" data-ng-model="class.isSelected">{{class.name}} ({{class.course_id}})
        </li>
      </ul>
    </div>

    <div class="objectiveDisplay">
    <ul>
      <li data-ng-repeat="class in objectives.data">
        {{class.text}}
        <ul>
          <li data-ng-repeat="obj in class.objectives">
            {{obj.date}} {{obj.objective}}

            <p data-ng-show="obj.comments.length">Comments from the teacher:
            {{obj.comments}}
            </p>

            <p data-ng-show="obj.icans.length">I Can statements:</p>
            <ul>
              <li data-ng-repeat="ican in obj.icans">
                {{ican.statement}}
              </li>
            </ul>

            <p data-ng-show="obj.referencetext">Reference text:</p>
            <p>{{obj.referencetext.text}}</p>

            <p data-ng-show="obj.resources.length">External resources:</p>
            <ul>
              <li data-ng-repeat="res in obj.resources">
                <a href="{{res.url}}">{{res.url}}</a>
                <br />
                <span data-ng-show="res.votes">
                Votes: {{res.votes}}
                </span>
                <span data-ng-show="res.inappropriate_flags">(Flagged as inappropriate {{res.inappropriate_flags}} times)</span>
                <div data-ng-show="res.notes.length">
                Comments from submitter: {{res.notes}}
                </div>
              </li>
            </ul>

            <p data-ng-show="obj.glossitems.length">Glossary items:<br />
              <button data-ng-click="glossaryFlashcards(obj)">Use as flashcards</button></p>
            <ul>
              <li data-ng-repeat="glossitem in obj.glossitems">
                {{glossitem.term}}: {{glossitem.definition}}
              </li>
            </ul>

            <p data-ng-show="obj.tfitems.length">True/False questions:<br />
              <button data-ng-click="trueFalseFlashcards(obj)">Use as flashcards</button></p>
            <ul>
              <li data-ng-repeat="tfitem in obj.tfitems">
                {{tfitem.statement}} ({{tfitem.answer}})
              </li>
            </ul>

            <p data-ng-show="obj.mcitems.length">Multiple choice questions:<br />
              <button data-ng-click="multipleChoiceFlashcards(obj)">Use as flashcards</button></p>
            <ul>
              <li data-ng-repeat="mcitem in obj.mcitems">
                {{mcitem.question}}
                <ol>
                  <li>{{mcitem.choice1}}</li>
                  <li>{{mcitem.choice2}}</li>
                  <li data-ng-show="mcitem.choice3">{{mcitem.choice3}}</li>
                  <li data-ng-show="mcitem.choice4">{{mcitem.choice4}}</li>
                  <li data-ng-show="mcitem.choice5">{{mcitem.choice5}}</li>
                </ol>
                (Correct answer: #{{mcitem.ans}})
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </div>

    <div class="ui-warning">
        <p>Important: This is just a demo of basic capabilities.  It is
        not intended to show the user interface for the planned end-user
        software.</p>
    </div>
  </div>
