<p>Here's a simple demonstration of access to multiple types
of materials when teachers maintain a calendar of learning objectives
(i.e., indicate what objectives they are currently covering).</p>

<p>For the demonstration, enter <strong>trawick@gmail.com</strong>
as the teacher e-mail address, then press Lookup, then select one
of the classes which appears.</p>

  <div data-ng-controller="GetTeacherEmailCtrl" class="emailInput">
    Teacher e-mail address: <input type="text" data-ng-model="teacherEmail" />
    <button data-ng-click="update(teacherEmail)">Lookup</button>
  </div>

  <br />

  <div data-ng-controller="LookupCtrl">
    <div class="classDisplay">
      <p>{{notice.text}}</p>
      <ul>
        <li data-ng-repeat="class in classes">
          <input type="checkbox" data-ng-change="classSelection(class)" data-ng-model="class.isSelected">{{class.name}} ({{class.course_id}})
        </li>
      </ul>
    </div>

    <div class="objectiveDisplay">
    <ul>
      <li data-ng-repeat="class in objectives.data">
        {{class.text}}
        <ul>
          <li data-ng-repeat="obj in class.objectives">
            {{obj.date}} {{obj.objective}}

            <ul>
              <li data-ng-repeat="res in obj.resources">
                <a href="{{res.url}}">{{res.url}}</a>
                <br />
                Votes: {{res.votes}}
                <br />
                Comments from submitter: {{res.notes}}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
