<!-- browse -->
    <div class="flashcard-page" data-ng-controller="FlashcardCtrl">

        <p>{{ flashcards[current][front_back] }}</p>

        <button type="button" class="btn btn-default btn-lg" data-ng-click="previousFlashcard()">
            <span class="glyphicon glyphicon-hand-left"></span>
        </button>
        <button type="button" class="btn btn-default btn-lg" data-ng-click="flipFlashcard()">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button type="button" class="btn btn-default btn-lg" data-ng-click="nextFlashcard()">
            <span class="glyphicon glyphicon-hand-right"></span>
        </button>

    </div>
