<h2>Curriculum designers,</h2>

<ul>
  <li>The curriculum definitions you normally work with will be tagged
  to identify the individual types of information, after which they
  can be imported into the system.</li>
  <li>The formal curriculum description will move closer to the forefront
  of the conversation around individual classes and educational materials
  because the individual
  learning objectives in the formal curriculum description are the key
  to communication of activities between teachers and parents.</li>
  <li>The formal description, "I Can" statements, and informal
  descriptions of individual objectives will be easily accessed by teachers,
  parents, and students by all via the central focus on objectives.</li>
</ul>

<h2>Creators of educational materials, </h2>

<ul>
  <li>Educators who contribute material to the repository will be
  able to reuse it in a variety of software.</li>
  <li>The material must be freely available under common terms, 
  similar to material in Wikipedia.</li>
  <li>Not all materials are of a form suitable for inclusion in the
  repository, but an index to outside resources can be used to relate
  the materials to specific objectives.</li>
</ul>

<h2>Demonstration</h2>

<p>Here's a simple demonstration of access to multiple types of
materials, starting with the course id.</p>

<p>For the demonstration, enter <strong>MG4</strong> as the course
id, then press Lookup.</p>

<div data-ng-controller="CourseLookupCtrl">

  Course id: <input type="text" data-mg-model="courseId" />
  <button data-ng-click="update(courseId)">Lookup course</button>

  <p ng-show="objectives.length">Course objectives:</p>
  <ul>
    <li data-ng-repeat="obj in objectives">
      {{obj.id}} {{obj.formal_description}}

      <p ng-show="obj.icans.length">I Can statements:</p>
      <ul>
        <li data-ng-repeat="ican in obj.icans">
          {{ican.statement}}
        </li>
      </ul>

      <p ng-show="obj.referencetext">Reference text:</p>
      <p>{{obj.referencetext.text}}</p>

      <p ng-show="obj.resources.length">External resources:</p>
      <ul>
        <li data-ng-repeat="res in obj.resources">
          <a href="{{res.url}}">{{res.url}}</a>
        </li>
      </ul>

      <p ng-show="obj.glossitems.length">Glossary items:</p>
      <ul>
        <li data-ng-repeat="glossitem in obj.glossitems">
          {{glossitem.term}}: {{glossitem.definition}}
        </li>
      </ul>

      <p ng-show="obj.tfitems.length">True/False questions:</p>
      <ul>
        <li data-ng-repeat="tfitem in obj.tfitems">
          {{tfitem.statement}} ({{tfitem.answer}})
        </li>
      </ul>

      <p ng-show="obj.mcitems.length">Multiple choice questions:</p>
      <ul>
        <li data-ng-repeat="mcitem in obj.mcitems">
          {{mcitem.question}}
          <ol>
            <li>{{mcitem.choice1}}</li>
            <li>{{mcitem.choice2}}</li>
            <li ng-show="mcitem.choice3">{{mcitem.choice3}}</li>
            <li ng-show="mcitem.choice4">{{mcitem.choice4}}</li>
            <li ng-show="mcitem.choice5">{{mcitem.choice5}}</li>
          </ol>
          (Correct answer: #{{mcitem.ans}})
        </li>
      </ul>
    </li>
  </ul>

    <div class="ui-warning">
        <p>Important: This is just a demo of basic capabilities.  It is
        not intended to show the user interface for the planned end-user
        software.</p>
    </div>
</div>
