<div class="my-edjectives-page">

    <h1>Current class activity</h1>

    <div class="existing-students" data-ng-repeat="student in studentData">

        <div class="single-student">
            <h2>{{ student.name }}
                <button type="button" class="btn btn-default" data-ng-click="removeStudent()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </h2>

            <div class="studentClass" data-ng-repeat="class in student.classes">
                <h3>{{ class.className }} with teacher
                    <span data-ng-show="class.teacherName">{{ class.teacherName }}</span>
                    <span data-ng-hide="class.teacherName">{{ class.teacherEmail }}</span>
                    <button type="button" class="btn btn-default" data-ng-click="removeClass()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </h3>

                <ul>
                    <li data-ng-repeat="objective in class.objectives track by $index">
                        <span data-ng-hide="objective.hide">
                            {{ objective.date | date:'fullDate' }}
                            <learning-objective data-learning-objective="{{ objective.name }}"></learning-objective>
                        </span>
                        <span data-ng-show="objective.hide">
                            {{ objective.date | date:'fullDate' }}

                            <div class="learningObjectiveBox">
                                <p><span class="objectiveId">{{ objective.name }}</span></p>
                                <em>displayed above</em>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>

            <br />
            <p>
                <span data-ng-hide="student.enableAdd">
                    <button type="button" class="btn btn-default" data-ng-click="enableAddClassWidget()">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </span>
                <span data-ng-show="student.enableAdd">
                    <button type="button" class="btn btn-default" data-ng-click="disableAddClassWidget()">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                </span>
                Add a class
                <span data-ng-show="student.enableAdd">
                    <input type="text" id="new-class-{{ student.name }}" value="{{ student.teacherOfNewClass }}" />
                    <button data-ng-click="addClassTeacherLookup()">Lookup teacher</button>
                    <span data-ng-show="student.teacherOfNewClass">
                        <select id="addClassSelectedClass-{{ student.name }}"
                                data-ng-model="addClassSelectClass"
                                data-ng-options="course for course in student.addClassTeacherClasses">
                            <option>--</option>
                        </select>
                        <button data-ng-click="addClass()">Add</button>
                    </span>
                </span>
            </p>
        </div>
    </div>

    <br />
    <div class="add-a-student">
        <p id="newStudentButton"><button type="button" class="btn btn-default" id="showNewStudentForm">
            <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            New Student
        </p>
        <div id="newStudentForm">
            <h4>Add a student</h4>

            <input type="text" id="new-student-name"/>
            <button data-ng-click="addStudent()">Add</button>
            <button id="cancelAddStudent">Cancel</button>
        </div>
    </div>
</div>
