{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Add an objective{% endblock %}
{% block content %}
    <h1>Add an objective for {{ date }}</h1>
    <form action="{% url 'add-objective' teacher_email=teacher_email teacher_class_id=teacher_class_id date=date%}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
