{% extends "base.html" %}
{% block title %}{{ teacher.name }}'s Classes{% endblock %}
{% block content %}
{% if teacher_class_list %}
    <p>Classes for {{ teacher }}:</p>
    <ul>
{% for c in teacher_class_list %}
        <li><a href="{{ c.name }}/">{{ c.name }}</a></li>
{% endfor %}
    </ul>
{% else %}
    <p>No classes defined for {{ teacher}}!</p>
{% endif %}

    <div class="text-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
{% endblock %}
