{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ teacher.name }}'s Classes</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% if teacher_class_list %}
    <p>Classes for {{ teacher }}:</p>
    <ul>
{% for c in teacher_class_list %}
        <li><a href="{{ c.name }}/">{{ c.name }}</a></li>
{% endfor %}
    </ul>
{% else %}
    <p>No classes defined for {{ teacher}}!</p>
{% endif %}

    <div class="ui-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
</body>
</html>
