{% extends "base.html" %}
{% load teachers_extras %}
{% block title %}Dashboard for {{ teacher.name }}{% endblock %}
{% block content %}
    <div class="col">
    <div class="col-md-4">
    <div class="well">
    <h3>Dashboard for {{ teacher.name }}</h3>
    <p class="small">({{ teacher.email }})</p>

    <div class="list-group" id="teacher-class-list">
    {% for c in teacher_class_list %}
        <a href="../../{{ c.id }}/{{ start_of_week }}/dashboard" class="list-group-item {{ c.active_class }}">
        <h4 class="list-group-item-heading">{{ c.name }}</h4>
        <p class="list-group-item-text">{{ c.course_id }}</p>
        </a>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>

    {% if not teacher_class_list %}
        <div class="col">
        <div class="col-md-8">
            <div class="row">
                <div class="well">
                    <h5>No classes are defined.</h5>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    {% if selected_class %}
    <div class="col">
        <div class="col-md-8">
            <div class="row">
                <div class="well">
                    <a href="{{ previous_week_link }}"><span class="glyphicon glyphicon-backward"></span></a>
                    Week of {{ selected_class.dates.M }}
                    <a href="{{ next_week_link }}"><span class="glyphicon glyphicon-forward"></span></a>
                </div>
            </div>
            {% for day in day_letters  %}
            <div class="row">
                <div class="well">
                    <p>{{ day_names|dereference:day }}, {{ selected_class.dates|dereference:day }}</p>
                    <ul class="list-unstyled">
                        {% for obj in selected_class.objectives|dereference:day %}
                        <li>{{ obj.0 }} &mdash; {{ obj.1 }}
                        <a href="../{{ selected_class.dates|dereference:day }}/{{ obj.0 }}/remove_objective"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="../{{ selected_class.dates|dereference:day }}/add_objective"><span class="glyphicon glyphicon-plus-sign"></span></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}
