{% extends "base.html" %}
{% block title %}Dashboard for {{ teacher.name }}{% endblock %}
{% block content %}
    <div class="col">
    <div class="col-md-4">
    <div class="well">
    <h3>Dashboard for {{ teacher.name }}</h3>

    <div class="list-group" id="teacher-class-list">
    {% for c in teacher_class_list %}
        <a href="../{{ c.id }}/dashboard" class="list-group-item {{ c.active_class }}">
        <h4 class="list-group-item-heading">{{ c.name }}</h4>
        <p class="list-group-item-text">{{ c.course_id }}</p>
        </a>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>

    {% if not teacher_class_list %}
        <div class="col">
        <div class="col-md-8">
            <div class="row">
                <div class="well">
                    <h5>No classes are defined.</h5>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    {% if selected_class %}
    <div class="col">
        <div class="col-md-8">
            <div class="row">
                <div class="well">
                    <p>Monday, {{ selected_class.dates.M }}</p>
                    <ul>
                        {% for obj in selected_class.days.M %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>Tuesday, {{ selected_class.dates.T }}</p>
                    <ul>
                        {% for obj in selected_class.days.T %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>Wednesday, {{ selected_class.dates.W }}</p>
                    <ul>
                        {% for obj in selected_class.days.W %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>Thursday, {{ selected_class.dates.R }}</p>
                    <ul>
                        {% for obj in selected_class.days.R %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>Friday, {{ selected_class.dates.F }}</p>
                    <ul>
                        {% for obj in selected_class.days.F %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
