{% extends "base.html" %}
{% block title %}Dashboard for {{ teacher.name }}{% endblock %}
{% block content %}
    <div class="col">
    <div class="col-md-4">
    <div class="well">
    <h3>Dashboard for {{ teacher.name }}</h3>

    <div class="list-group" id="teacher-class-list">
    {% for c in teacher_class_list %}
        <a href="../{{ c.id }}/dashboard" class="list-group-item {{ c.active_class }}">
        <h4 class="list-group-item-heading">{{ c.name }}</h4>
        <p class="list-group-item-text">{{ c.course_id }}</p>
        </a>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>

    {% if not teacher_class_list %}
        <div class="col">
        <div class="col-md-8">
            <div class="row">
                <div class="well">
                    <h5>No classes are defined.</h5>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    {% if selected_class %}
    <div class="col">
        <div class="col-md-8">
            {% comment %}
            This repetition for each day is nasty, but Django variable resolution
            doesn't allow a variable for a subscript.  IOW, the "M", "T", "W", etc.
            in the following similar blocks must be literal strings.
            {% endcomment %}
            <div class="row">
                <div class="well">
                    <p>{{ day_names.M }}, {{ selected_class.dates.M }}</p>
                    <ul class="list-unstyled">
                        {% for obj in selected_class.days.M %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ selected_class.dates.M }}/add_objective"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    {% if selected_class.days.M %}
                    <a href="{{ selected_class.dates.M }}/remove_objective"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>{{ day_names.T }}, {{ selected_class.dates.T }}</p>
                    <ul class="list-unstyled">
                        {% for obj in selected_class.days.T %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ selected_class.dates.T }}/add_objective"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    {% if selected_class.days.T %}
                    <a href="{{ selected_class.dates.T }}/remove_objective"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>{{ day_names.W }}, {{ selected_class.dates.W }}</p>
                    <ul class="list-unstyled">
                        {% for obj in selected_class.days.W %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ selected_class.dates.W }}/add_objective"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    {% if selected_class.days.W %}
                    <a href="{{ selected_class.dates.W }}/remove_objective"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>{{ day_names.R }}, {{ selected_class.dates.R }}</p>
                    <ul class="list-unstyled">
                        {% for obj in selected_class.days.R %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ selected_class.dates.R }}/add_objective"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    {% if selected_class.days.R %}
                    <a href="{{ selected_class.dates.R }}/remove_objective"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <p>{{ day_names.F }}, {{ selected_class.dates.F }}</p>
                    <ul class="list-unstyled">
                        {% for obj in selected_class.days.F %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ selected_class.dates.F }}/add_objective"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    {% if selected_class.days.F %}
                    <a href="{{ selected_class.dates.F }}/remove_objective"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
