{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Update settings for a class{% endblock %}
{% block content %}
    <h1>Update settings for a class</h1>
    <form action="{% url 'teacher.views.edit_class' teacher_email=teacher_email teacher_class_id=teacher_class_id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" name="submit-button" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
            </button>

            <button type="submit" name="delete-button" class="btn btn-danger pull-right">
            {% bootstrap_icon "trash" %} Delete this class
            </button>
        {% endbuttons %}
    </form>

    <h3>Important</h3>

    <ul>
        <li>If you update the class name or course id after students have begun accessing
    this class, they may need to update their software settings again to continue looking up
    the current learning objectives.</li>
        <li>If you choose to delete the class, it will be deleted immediately with
    no further confirmation.</li>
    </ul>

{% endblock %}
