<!DOCTYPE html>
<html>
<head>
    <title>{{ class_name }} objectives</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
{% if entry_list %}
    <p>Calendar entries for {{ class_name }} taught by {{ teacher }}:</p>
    <dl>
{% for e in entry_list %}
        <dt>{{ e.date }}</dt><dd>{{ e.objective }}</dd>
{% endfor %}
    </dl>
{% else %}
<p>No calendar entries for {{ class_name }} taught by {{ teacher }}!</p>
{% endif %}

    <div class="ui-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
</body>
</html>
