{% extends "base.html" %}
{% block title %}Teachers{% endblock %}
{% block content %}
    {% if teacher_list %}
    <h1>List of teachers</h1>
    <ul>
    {% for t in teacher_list %}
        <li><a href="{{ t.email }}/">{{ t.name }} ({{ t.email }})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No teachers have registered!</p>
{% endif %}

    <div class="ui-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
{% endblock %}
