{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Remove an objective{% endblock %}
{% block content %}
    <h1>Remove objective {{ objective }} from {{ date }}</h1>

    <form action="{% url 'remove-objective'  teacher_email=teacher_email teacher_class_id=teacher_class_id date=date objective=objective %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-star"></span> Remove
        </button>
    </form>
{% endblock %}
