<div>
    <p><span class="objectiveId">{{ learningObjective }}</span></p>
    <p><span class="objectiveDescription">{{ data.description }}</span></p>

    <p data-ng-show="teacherComments.length"><span class="objectiveFieldName">Comments from the teacher:</span>
    {{ teacherComments }}
    </p>

    <p data-ng-show="data.icans.length"><span class="objectiveFieldName">I Can statements:</span></p>
    <ul>
      <li data-ng-repeat="ican in data.icans">
        {{ ican.statement }}
      </li>
    </ul>

    <p data-ng-show="data.referencetext"><span class="objectiveFieldName">Reference text:</span></p>
    <p>{{ data.referencetext.text  }}</p>

    <p data-ng-show="data.glossitems.length"><span class="objectiveFieldName">Glossary items:</span><br />
        <button data-ng-click="glossaryFlashcards(data)">Use glossary items as flashcards</button>
    </p>
    <ul>
      <li data-ng-repeat="glossitem in data.glossitems">
        {{ glossitem.term }}: {{ glossitem.definition }}
      </li>
    </ul>

    <p data-ng-show="data.tfitems.length"><span class="objectiveFieldName">True/False questions:</span><br />
        <button data-ng-click="trueFalseFlashcards(data)">Use T/F items as flashcards</button>
    </p>
    <ul>
      <li data-ng-repeat="tfitem in data.tfitems">
        {{ tfitem.statement }} ({{ tfitem.answer }})
      </li>
    </ul>

    <p data-ng-show="data.mcitems.length"><span class="objectiveFieldName">Multiple choice questions:</span><br />
      <button data-ng-click="multipleChoiceFlashcards(data)">Use as flashcards</button></p>
    <ul>
      <li data-ng-repeat="mcitem in data.mcitems">
        {{ mcitem.question }}
        <ol>
          <li>{{ mcitem.choice1 }}</li>
          <li>{{ mcitem.choice2 }}</li>
          <li data-ng-show="mcitem.choice3">{{ mcitem.choice3 }}</li>
          <li data-ng-show="mcitem.choice4">{{ mcitem.choice4 }}</li>
          <li data-ng-show="mcitem.choice5">{{ mcitem.choice5 }}</li>
        </ol>
        (Correct answer: #{{ mcitem.ans }})
      </li>
    </ul>

    <p data-ng-show="data.resources.length"><span class="objectiveFieldName">Learning resources for this objective:</span></p>
    <ul>
      <li data-ng-repeat="res in data.resources">

        <span data-ng-show="res.embed">
        <div ng-bind-html="toTrusted(res.embed)"></div>
        </span>

        <a href="{{ res.url }}">
            <span data-ng-show="res.title">{{ res.title }}</span>
            <span data-ng-hide="res.title">{{ res.url }}</span>
        </a>

        <div data-ng-show="res.warning">
            <p class="objectiveWarning">
            Warning: {{ res.warning }}
            </p>
        </div>

        <div data-ng-show="res.notes">
            ({{res.notes}})
        </div>

        <div data-ng-show="res.votes">
            {{ res.votes }} votes
            <ul>
                <li data-ng-repeat="comment in res.upvotes">
                    {{ comment.comment }}
                </li>
            </ul>
        </div>

        <div data-ng-show="res.inappropriate_flags">
            Flagged as inappropriate {{ res.inappropriate_flags }} times)
            <ul>
                <li data-ng-repeat="comment in res.flags">
                    {{comment.comment}}
                </li>
            </ul>
        </div>
        <div>
            <input type="button" class="btn btn-default btn-mini" value="Up-vote or flag resource..."
                   data-ng-click="commentOnResource(res.id)" />
        </div>
      </li>
    </ul>
    <input type="button" class="btn btn-default"
           value="Add a resource..."
           data-ng-click="submitResource(learningObjective)" />
</div>
