/* app css stylesheet */

body {
    padding: 20px;

    font-family: Arial, Verdana, sans-serif;
}

ul {
    margin-left: 0px;
}

ul.huge {
    font-size: 36px;
}

.huge li {
    margin: 10px;
    padding: 20px;
    line-height: 1;
}

.forparents > a:visited, .forteachers > a:visited, .forcreators > a:visited, .forisvs > a:visited, .forpublishers > a:visited, .keyideas > a:visited, .fornerds > a:visited  {
    color: black;
}

.forparents > a:link, .forteachers > a:link, .forcreators > a:link, .forisvs > a:link, .forpublishers > a:link, .keyideas > a:link, .fornerds > a:link  {
    color: black;
}

.forpublishers {
    background-color: #ff9558;
    color: black;
}

.keyideas {
    background-color: #ff665f;
}

.fornerds {
    background-color: #849fe2;
}

.forcreators {
    background-color: #ac8cdb;
}

.forparents {
    background-color: #87ce50;
}

.forteachers {
    background-color: yellow;
}

.forisvs {
    background-color: #c5a830;
}

li {
    list-style: none;
}

.emailInput {
    background-color: rgb(155, 240, 242);
}

.classDisplay {
    background-color: rgb(106, 237, 231);
}

.objectiveDisplay {
    background-color: rgb(12, 226, 219);
}