/* app css stylesheet */

body {
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
}

#folder-image {
    height: 100%;
    width: 100%;
    position: relative;
}

#folder-image > a > img {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

ul {
    margin-left: 0px;
}

ul.huge {
    font-size: 36px;
}

.huge li {
    margin: 10px;
    padding: 20px;
    line-height: 1;
    list-style: none;
}

.browse > a:visited, .forparents > a:visited, .forteachers > a:visited, .forauthors > a:visited, .forvendors > a:visited, .qanda > a:visited, .keyideas > a:visited, .fornerds > a:visited  {
    color: black;
}

.browse > a:link, .forparents > a:link, .forteachers > a:link, .forauthors > a:link, .forvendors > a:link, .qands > a:link, .keyideas > a:link, .fornerds > a:link  {
    color: black;
}

.browse {
    background-color: #3B653D;
}

.forvendors {
    background-color: #ff9558;
    color: black;
}

.keyideas {
    background-color: #ff665f;
}

.fornerds {
    background-color: #849fe2;
}

.forauthors {
    background-color: #ac8cdb;
}

.forparents {
    background-color: #87ce50;
}

.forteachers {
    background-color: yellow;
}

.qanda {
    background-color: #c5a830;
}

.emailInput {
    background-color: rgb(155, 240, 242);
}

.classDisplay {
    background-color: rgb(106, 237, 231);
}

.objectiveDisplay {
    background-color: rgb(12, 226, 219);
}

.ui-warning {
            background-color: darkgoldenrod;
            margin: 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 1px;
            padding-bottom: 1px;
        }
