beautifulsoup4
celery
  billiard
  kombu
    amqp
    anyjson
  pytz
coverage
Django
django-bootstrap3
django-click
  click
django-nose
  nose
django-tastypie
  python-dateutil
    six
  python-mimeparse
psycopg2
social-auth-core
  oauthlib
  PyJWT
  python-openid
  requests
    certifi
    chardet
    idna
    urllib3
    # six
  requests-oauthlib
    # oauthlib
    # requests
social-auth-app-django
uWSGI
