<VirtualHost {{ target_address }}:80>
    WSGIDaemonProcess edurepo \
        home=/home/edurepo/git/edurepo/src/edurepo \
        python-path=/home/edurepo/git/edurepo/src/edurepo:/home/edurepo/git/edurepo/envs/edurepo/lib/python2.7/site-packages

    WSGIProcessGroup edurepo

    ErrorLog /var/log/django-edurepo/httpd.log
    LogLevel {{ httpd_log_level }}

    ServerName {{ canonical_server_name }}
    DocumentRoot /home/edurepo/git/edurepo/src/webapp/

    <Directory />
        Options FollowSymLinks
        Require all denied
        AllowOverride None
    </Directory>

    <Directory /home/edurepo/git/edurepo/src/webapp/>
        AllowOverride None
        Require all granted
    </Directory>

    WSGIScriptAlias /ed/ /home/edurepo/git/edurepo/src/edurepo/edurepo/wsgi.py/

    Alias /static/ /home/edurepo/edurepo-static/

    <Directory /home/edurepo/git/edurepo/src/edurepo>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    <Location /ed/admin/>
<IfModule ssl_module>
        Require ssl
</IfModule>
    </Location>

    <Directory /home/edurepo/edurepo-static>
        Require all granted
    </Directory>

</VirtualHost>
