{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Comment on a resource{% endblock %}
{% block content %}
    <h1>Comment on a resource</h1>
    <form action="{% url 'resources.views.comment_on_resource' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>

    <p class="ui-warning">Important note: Resources which are flagged as
    inappropriate will be visible until they can be reviewed.</p>
{% endblock %}
