<!DOCTYPE html>
<html>
<head>
    <title>Submit a resource</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <h1>Submit a resource</h1>
    <form action="{% url 'resources.views.create_resource' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Submit">
    </form>

    <p class="ui-warning">Important note: Resources are subject to removal
    later if they are unreachable for a period of time or are judged to be
    inappropriate.</p>
</body>
</html>
