{% extends "base.html" %}
{% block title %}External listing{% endblock %}
{% block content %}
    <h1>List of external resources</h1>
    {% if resource_list %}
    <ul>
        {% for r in resource_list %}
        <li><a href="{{ r.id }}/">{{ r.url }}</a> ({{ r.objective }})</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No resources defined!</p>
    {% endif %}

    <div class="ui-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
{% endblock %}
