{% extends "base.html" %}
{% block title %}{{ resource.objective }} resource{% endblock %}
{% block content %}
    <h1>Web resource for {{ resource.objective }}</h1>

    <table class="table table-striped">
        <tr><th>URL</th><td><a href="{{ resource.url }}">{{ resource.url }}</a></td></tr>
        {% if verification and verification.document_title %}
            <tr><th>Title</th><td>{{ verification.document_title }}</td></tr>
        {% endif %}
        <tr><th>When added</th><td>{{ resource.when_added }}</td></tr>
        {% if resource.notes %}
        <tr><th>Notes</th><td>{{ resource.notes }}</td></tr>
        {% endif %}
        <tr><th>Up-votes</th><td>{{ resource.votes }}</td></tr>
        <tr><th>Flagged</th><td>{{ resource.inappropriate_flags }} times</td></tr>
    </table>

    {% if comments %}
        <p>Comments:</p>
        {% for comment in comments %}
            <blockquote>
                {% if comment.type == 'v' %}
                    <p class="bg-success">{{ comment.comment }}</p>
                {% else %}
                    <p class="bg-danger">{{ comment.comment }}</p>
                {% endif %}
                <small>{{ comment.when|date:"F j, Y" }}</small>
            </blockquote>
        {% endfor %}
    {% endif %}

    <div class="text-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
{% endblock %}
