{% extends "base.html" %}
{% block title %}{{ resource.objective }} resource{% endblock %}
{% block content %}
    <h1>Web resource for {{ resource.objective }}</h1>

    <table class="table table-striped">
        <tr><td><a href="{{ resource.url }}">{{ resource.url }}</a></td></tr>
        <tr><td>Added at {{ resource.when_added }}</td></tr>
        {% if resource.notes %}
        <tr><td>Notes: {{ resource.notes }}</td></tr>
        {% endif %}
        <tr><td>Votes in favor: {{ resource.votes }}</td></tr>
        <tr><td>Flagged as inappropriate {{ resource.inappropriate_flags }} times</td></tr>
    </table>

    {% if comments %}
    <p>Comments on this resource:</p>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.type_str }}: {{ comment.comment }} ({{ comment.when|date:"F j, Y" }})</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="text-warning">
        <p>Important: These pages are <q>reference views</q> for verifying data in the
        system; they are not intended for end users.</p>
    </div>
{% endblock %}
